
<div class="backgroundaox">
  <div class="pos_cen">

  
  </div>
  
  <h1 id="title">Αθλητισμός</h1>
  <main class="aoxtext">
    <div class="image-container">
      <img class="image" src="images/aox.png" alt="Your Image">
    

    </div>
    
    <br><br><br><br><br><br>

  <p>
    O ΑΘΛΗΤΙΚΟΣ ΟΜΙΛΟΣ ΞΥΛΟΚΑΣΤΡΟΥ είναι αθλητικό σωματείο με ζωή 30 και πλέον χρόνων στην αθλητική και κοινωνική ζωή του Ξυλοκάστρου Κορινθίας. Ιδρύθηκε το 1982 με σκοπό να οικοδομηθούν στην περιοχή του Ξυλοκάστρου συνθήκες και προϋποθέσεις αγωνιστικής άθλησης των νέων σε επιλεγμένους τομείς.
  
  Στόχος του συλλόγου από ιδρύσεώς του είναι να εμφυσήσει στους νέους τα ιδανικά του αθλητισμού, της συμμετοχής, της κοινωνικής ένταξης, του "ευ αγωνίζεσθαι".
  
  Το σωματείο μας καλλιεργεί και αναπτύσει τμήματα μπάσκετ ανδρών και βόλεϊ ανδρών όπως και τμήματα υποδομών.
  
  Το τμήμα μπάσκετ χρησιμοποιεί ως έδρα του το κλειστό γυμναστήριο Ξυλοκάστρου, συμμετέχει με αξιώσεις στο πρωτάθλημα Αργολιδοκορινθίας και εκτός του ανδρικού αναπτύσει και  τμήματα εφηβικό, παιδικό, παμπαίδων, μίνι, προμίνι, ακαδημίες.
  
  Η Διοίκηση δίνει μεγάλη σημασία στα τμήματα υποδομών όπου απασχολεί τρεις προπονητές και αριθμεί στις τάξεις του 100 και πλέον παιδιά (6 - 17 ετών).<br><br>Στην πόλη μας, το Ξυλόκαστρο, ο αθλητισμός είναι ένα πολύ σημαντικό κομμάτι στη ζωή των ανθρώπων, καθώς όλοι δίνουν ιδιαίτερη βαρύτητα σε αυτόν τον τομέα και αυτό το αποδεικνύουν με τους τέσσερις συλλόγους που έχουν δημιουργηθεί στην πόλη μας, ο καθένας σε διαφορετικό άθλημα, στο ποδόσφαιρο, στο μπάσκετ, το βόλεϊ, αλλά και το τένις. Επίσης στην περιοχή μας υπάρχουν πολλά γήπεδα στα οποία καθημερινά πηγαίνουν εκατοντάδες παιδιά για να παίξουν. Κάθε χρόνο στο Ξυλόκαστρο και σε ολόκληρη την Κορινθία διοργανώνονται πολλά πρωταθλήματα και camp όπου συμμετέχουν πολλά παιδιά. Ένα από αυτά είναι και τα πρωταθλήματα beach soccer και beach volley στα οποία συμμετείχαν πολύ μεγάλα ονόματα του παγκόσμιου αθλητισμού.<br><br> Οι κάτοικοι του Ξυλοκάστρου φημίζονται για την ενασχόληση τους με τον αθλητισμό. Το Ξυλόκαστρο δηλώνει το παρόν του σε πολλά και διάφορα αθλήματα.
  Στο ποδόσφαιρο η ομάδα Ηρακλής Ξυλοκάστρου βρίσκεται στη κατηγορία Α'Τοπικού Ανδρών. Το ίδιο ισχύει και για την ομάδα Μπάσκετ Ανδρών η οποία ονομάζεται απλά ΑΟΞ. Όσον αφορά το πινγκ-πονγκ, η ομάδα του ΑΟΞ αποκτώντας δύο Σουηδούς Αθλητές οι οποίοι αγωνίζονται στην Α1 κατηγορία της χώρας τους ανέβηκε κατηγορία και από Β' Εθνική Ανδρών που ήταν για 8 αγωνιστικές χρονιές πλέον βρίσκεται στην Α2 κατηγορία Ανδρών!! Παρακάτω βλέπετε τους αθλητές του Ξυλοκάστρου.
  
</p>
  <li><a href="https://www.facebook.com/A.O.Xylokastroutabletennis"><img class = "img_ping" src = "images/pingpong.png"></a></li>
<div class="button_cont" ><a class="example_c" href="https://aoxylokastrou.gr" target="_blank" rel="nofollow noopener">Μάθετε περισσότερα κάνοντας κλικ εδώ...</a></div>
  
  <div class="slideshow-container">

    <div class="mySlides fade">
      
      <img src="images/basket.jpg" alt="busket" style="width:100%">
      
    </div>
    
    <div class="mySlides fade">
      
      <img src="images/hraklhs.jpg" alt="ηρακλής"style="width:100%">
      
    </div>
    
    <div class="mySlides fade">
      
      <img src="images/basket2.jpg" alt="basket" style="width:100%">
     
    </div>
    <div class="mySlides fade">
      
      <img src="images/ping.jpg" alt="ping pong"style="width:100%">
      
    </div>
    <div class="mySlides fade">
      
      <img src="images/ping2.jpg" alt="ping pong"style="width:100%">
      
    </div>
    <div class="mySlides fade">
      
      <img src="images/ping3.jpg" alt="ping pong"style="width:100%">
      
    </div>
    
    <a class="prev" onclick="plusSlides(-1)">❮</a>
    <a class="next" onclick="plusSlides(1)">❯</a>
    
    </div>
    <br>
    
    <div style="text-align:center">
      <span class="dot" onclick="currentSlide(1)"></span> 
      <span class="dot" onclick="currentSlide(2)"></span> 
      <span class="dot" onclick="currentSlide(3)"></span> 
      <span class="dot" onclick="currentSlide(4)"></span> 
      <span class="dot" onclick="currentSlide(5)"></span> 
      <span class="dot" onclick="currentSlide(6)"></span>
    </div>
    
    <script>
      let slideIndex = 1;
      showSlides(slideIndex);
      
      function plusSlides(n) {
        showSlides(slideIndex += n);
      }
      
      function currentSlide(n) {
        showSlides(slideIndex = n);
      }
      
      function showSlides(n) {
        let i;
        let slides = document.getElementsByClassName("mySlides");
        let dots = document.getElementsByClassName("dot");
        if (n > slides.length) {slideIndex = 1}    
        if (n < 1) {slideIndex = slides.length}
        for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";  
        }
        for (i = 0; i < dots.length; i++) {
          dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex-1].style.display = "block";  
        dots[slideIndex-1].className += " active";
      }
      </script>
</div>
