<main>
  <h1>Καλώς Ήρθατε στο Ξυλόκαστρο</h1>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
  <div class="wrapper">
    <div class="button">
           <a href="https://www.facebook.com/xylokastro.evrostini/?locale=el_GR" style="color: black;">
        <div class="icon">
          <i class="fab fa-facebook-f"></i>
        </div>
        <span>Facebook</span>
      </a>
    </div>
    <div class="button">
       <a href="https://twitter.com/xylokastro_gov" style="color: black;">
        <div class="icon">
          <i class="fab fa-twitter"></i>
        </div>
        <span>Twitter</span>
      </a>
    </div>
    <div class="button">
      <a href="https://www.instagram.com/xylokastro_evrostini/
" style="color: black;">
        <div class="icon">
          <i class="fab fa-instagram"></i>
        </div>
        <span>Instagram</span>
      </a>
    </div>
    <div class="button">
      <a href="https://gr.linkedin.com/company/xylokastro-evrostini" style="color: black;">
        <div class="icon">
          <i class="fab fa-linkedin"></i>
        </div>
        <span>LinkedIn</span>
      </a>
    </div>
    <div class="button">
      <a href="https://www.youtube.com/@cityofxylokastro" style="color: black;">
        <div class="icon">
          <i class="fab fa-youtube"></i>
        </div>
        <span>YouTube</span>
      </a>
    </div>
  </div>

  <div class="sightseeings1">
    <h4>Ελάτε να γνωρίσετε...</h4>
    <ul>
      <li><img src="images\sea.jpg" alt="θάλασσα"><p>Τις καθαρές θαλασσές μας</p></li>
      <li><img src="images\sikelianos-xylokastro.jpg" alt="σικελιανός"><p>Την πολιτισμική κληρονομιά μας</p></li>
      <li><img src="images\destino - Copy.jpg" alt="destino"><p>Τα ξέφρενα βράδια μας</p></li>
    </ul>
  </div>

  <h3>Θα μας βρείτε...</h3>
  <div class="gps">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d50252.13172224456!2d22.58883368727459!3d38.076011208930375!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x135f8aa8fc3119f3%3A0x8ad11e80df57dca7!2zzp7Phc67z4zOus6xz4PPhM-Bzr8gMjA0IDAw!5e0!3m2!1sel!2sgr!4v1711643212549!5m2!1sel!2sgr" width="280" height="210"  allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>

  <div class="weather">
    <h3>Και για να μην χάνεις τον καιρό σου...</h3>
    <a class="weatherwidget-io" href="https://forecast7.com/el/38d0822d63/xylokastro/" data-label_1="ΞΥΛΟΚΑΣΤΡΟ" data-label_2="ΚΑΙΡΟΣ" data-theme="original" >XYLOKASTRO WEATHER</a>
    <script>
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
    </script>
  </div>
</main>
