<main> 


<h1 id="title">Πού θα μείνετε</h1>
<main class="hotel">
  <div class="border">
  <p><span class="highlight">Κυανή Ακτή</span><br><br>Το ξενοδοχείο Κυανή Ακτή είναι ένα παραδοσιακό ξενοδοχείο στο Ξυλόκαστρο πάνω στη θάλασσα 3 αστέρων.
    Ένα κλασικού τύπου κτήριο όπου δημιουργήθηκε το 1920 και λειτουργεί ως ξενοδοχείο από το 1954 έως και σήμερα με ανακαινισμένους και σύγχρονους χώρους.
    Είναι ένα μικρό οικογενειακό ξενοδοχείο με μόλις 8 δωμάτια με θέα στην θάλασσα, με ζεστή ατμόσφαιρα.
    Το  ξενοδοχείο  Κυανή Ακτή υπόσχεται αξέχαστη διαμονή σε ζευγάρια και μικρές οικογένειες όλο το χρόνο όλες τις ώρες.<br><br></p>
    <span class="highlight">Riviera Hotel</span><br><br>Απολαύστε την διαμονή σας στα σύγχρονα εξοπλισμένα δωμάτια με ανεμπόδιστη θέα στη θάλασσα. Το Riviera Hotel διαθέτει επίσης ένα κέντρο ομορφιάς και ευεξίας όπου οι επισκέπτες μπορούν να επιδοθούν σε μια σειρά από μασάζ και θεραπείες ομορφιάς για να αναζωογονήσουν και να χαλαρώσουν το μυαλό και το σώμα τους. Στο Riviera Hotel, καταλαβαίνουμε ότι η γαστρονομία είναι κάτι περισσότερο από ένα γεύμα, είναι μια εμπειρία που πρέπει απολαύστε όλες τις αισθήσεις. Ξεκινήστε την ημέρα σας με το ελληνικό πρωινό μας, μια εμπειρία που προσφέρει ο πλούτος των τοπικών συστατικών και παραδοσιακών γεύσεων.<br><br>
    <span class="highlight">Arion</span><br><br>Οι επισκέπτες απολαμβάνουν ζεστή και φιλόξενη διαμονή στο Arion Hotel, μένοντας σε ένα από τα δωμάτια ή τις σουίτες του ενώ μπορούν να εξερευνήσουν το Ξυλόκαστρο έχοντας ως αφετηρία το ιδανικό σημείο. Επιλέξτε τον τύπο δωματίου που σας ταιριάζει περισσότερο , σύμφωνα με τις ανάγκες και τις επιθυμίες σας, και κάντε την κράτησή σας. Όλα τα δωμάτια και οι σουίτες διαθέτουν ιδιωτικό μπάνιο, μπαλκόνι, ηχομονωμένα παράθυρα, κλιματισμό και δορυφορική τηλεόραση, μίνι μπαρ και δωρεάν Wi-Fi.
    <br><br><span class="highlight">Sette Suites & Rooms</span><br><br> To ξενοδοχείο προσφέρει καταλύματα υψηλών προδιαγραφών κοντά στην παραλία και το Φυσικό Πάρκο του Πευκιά σε όσους επιθυμούν να απολαύσουν τη φυσική ομορφιά του Ξυλοκάστρου και των ιστορικών περιοχών γύρω από το ξενοδοχείο. Το ξενοδοχείο διαθέτει 12 μονάδες δωματίων πλήρως ανακαινισμένες (2019) με στόχο να εξασφαλίσει στους επισκέπτες όλες τις σύγχρονες ανέσεις για μια ευχάριστη διαμονή. Προσφέρει άριστες υπηρεσίες, ξεχωριστή πολυτέλεια μοντέρνου στυλ, αυθεντική ποιότητα. Όλα τα δωμάτια διαθέτουν όλες τις ανέσεις για να εξασφαλίσουν ότι οι επισκέπτες θα απολαύσουν μια πραγματικά ευχάριστη και ξεκούραστη διαμονή.
    <br><br><span class="highlight">Evita Blue Hotel</span><br><br>Το Evita Blue Hotel είναι ένα πρόσφατα ανακαινισμένο ξενοδοχείο 4 αστέρων που βρίσκεται στη γραφική ακτογραμμή της Κορινθίας, ακριβώς απέναντι από το διάσημο πευκοδάσος της Ελλάδας. Το Evita Blue Hotel προσφέρει μονόκλινα και δίκλινα δωμάτια για έως 3 άτομα, όλα σε σύγχρονη διακόσμηση και εξοπλισμένα με ηχομόνωση, αυτόνομο κλιματισμό, δωρεάν Wi-Fi, δορυφορική τηλεόραση και επιπλωμένο μπαλκόνι ή βεράντα.<br><br>

  <br>
  <div class="container">
		<div class="box">
      <a href="https://kyaniaktihotel.gr/">
			<img src="images/hotel.jpg" alt="hotel"></a>
		</div>
		<div class="box">
      <a href="https://gghotels.gr/riviera/">
			<img src="images/hotel1.jpg" alt="hotel1"></a>
		</div>
		<div class="box">
      <a href="https://www.arion-pefkias.gr/el/">
			<img src="images/hotel2.jpg" alt="hotel2"></a>
		</div>
		<div class="box">
      <a href="https://sette.gr/">
			<img src="images/hotel3.jpg" alt="home3"></a>
		</div>
		<div class="box">
      <a href="https://evita-hotels.com/evita-blue/">
			<img src="images/hotel4.jpg"alt="hotel4"></a>
		</div>
  </div> 
	</div>
  
</main> 
