

  <main>
    <h1>Για να συστηθουμε λοιπόν...</h1>
    <div class="name">
  <h3>Ονομασία</h3>
 <p>Το Ξυλόκαστρο πήρε το όνομά του από ένα ξύλινο στρατώνα στην περιοχή όπου λειτουργούσε ως παρατηρητήριο κατά τα χρόνια της Ενετοκρατίας. Ο στρατώνας βρισκόταν στη δυτική πλευρά του λόφου «Κατή τον Πεύκο», πάνω από τη σημερινή πόλη, κοντά στον ποταμό Σύθα. Από εκεί η φρουρά μπορούσε να ελέγχει την κίνηση στον Κορινθιακό Κόλπο και να εποπτεύει το λιμάνι των Αριστοναυτών. Επίσης είχε οπτική επαφή με τα κάστρα του Ζεμενού και της Πελλήνης και μπορούσε να ενημερώνει τη διοίκησή τους με σήματα καπνού. Ο στρατώνας ονομάστηκε από τους ντόπιους ξύλινο κάστρο, και από αυτόν η περιοχή η οποία περιλαμβάνει τους συνοικισμούς Υψηλά Αλώνια, Μερτικέικα, Γεωργαντέικα και Ρίζα, ονομάστηκε Ξυλόκαστρο. Κατά τον 18ο αιώνα αποκαλούταν Οξώκαμπος.</p>
    </div>
 <div class="history">
    <h3 >Η Ιστορία του τόπου μας</h3>
    <p>Στην περιοχή αρχικά υπήρχε ένα μεγάλο πευκοδάσος. Κατά τα προεπαναστατικά χρόνια το Ξυλόκαστρο αποτελείτο από λίγα σπίτια και μερικές αποθήκες και λειτουργούσε ως επίνειο των Τρικάλων Κορινθίας. Το δάσος στη συνέχεια αποψιλώθηκε για να καλλιεργηθεί η γη και από το αρχικό δάσος έχει απομείνει μόνο ο Πευκιάς επειδή βρίσκεται σε αμμώδες έδαφος. Στο Ξυλόκαστρο καλλιεργούσαν σταφίδα, με την παραγωγή να φτάνει 1.300.000 ενετικά λίτρα, που απέφερε στο Ξυλόκαστρο έσοδα 500.000 δραχμών. Η σταφίδα μεταφερόταν στην Πάτρα με πλοιάρια, απ' όπου εξαγόταν κυρίως στην Αγγλία.
    
    
        Η παραλία Ξυλόκαστρου
        Το Ξυλόκαστρο έγινε γνωστό στους ξένους, οι οποίοι άρχισαν το επισκέπτονται στις αρχές του 20ού αιώνα, και το αποκαλούσαν "Ανθούπολη" λόγω των πολλών λουλουδιών του. Το 1906 στην περιοχή του Ξυλοκάστρου εμφανίστηκαν οι πρώτοι γυμνιστές στην Ελλάδα. Το Ξυλόκαστρο κρίθηκε επίσημα ως θερινή διαμονή των ξένων το 1919 και το επισκέπτονταν διάφοροι επώνυμοι (π.χ. βασιλείς, πρωθυπουργοί και ηθοποιοί). Το Ξυλόκαστρο έγινε λουτρόπολη. To 1923 ιδρύθηκε με δωρεά του Σωτήρη Κροκιδά το Κροκίδειον Δημοτικόν Σχολείον. Την ίδια περίοδο εγκαταστάθηκαν στο Ξυλόκαστρο Έλληνες πρόσφυγες από την περιοχή της Νικομήδειας. Στον Πευκιά λειτουργούσε κατασκήνωση των αδελφών Τυπάλδου. Στην κατασκήνωση παραθέριζαν κυρίως ξένοι. Ο τουρισμός οδήγησε το Ξυλόκαστρο σε οικονομική ανάπτυξη και βελτίωση των συνθηκών ζωής.
        
        Τη δεκαετία του 1970, το πρόβλημα της ύδρευσης λύθηκε με τη μεταφορά νερού από το Γελλήνι (μικρό χωριό κοντά στα Τρίκαλα και την Καρυά Κορινθίας). Η κατασκήνωση Τυπάλδου έκλεισε. Τη δεκαετία του 1970 τα νεοκλασικά σπίτια με πλούσιο διάκοσμο άρχισαν να αντικαθίστανται με πολυκατοικίες. Αυτά τα σπίτια χτίστηκαν σε μια προσπάθεια οι κάτοικοι να αποκτήσουν σπίτι πιο όμορφα διακοσμημένο από τους γείτονές τους. Οι πολυκατοικίες χτίστηκαν στον παραλιακό δρόμο.
        
        Στο τέλους του 20ού αιώνα άρχισε η ανάπλαση του Ξυλοκάστρου. Κατασκευάστηκε το υπαίθριο θέατρο «Βασίλης Γεωργιάδης», το κλειστό θέατρο «Άγγελος Σικελιανός», το γενικό και τεχνικό Λύκειο Ξυλοκάστρου, το 2° Γυμνάσιο Ξυλοκάστρου, το 3° Δημοτικό Σχολείο «Βαρδάβειον», το 1ο Νηπιαγωγείο «Λίλιαν Βουδούρη» και το 2° Νηπιαγωγείο στον οικισμό Αριστοναύτες. Επίσης κατασκευάστηκαν γήπεδα τένις και μια μαρίνα στις όχθες του ποταμού Σύθα και επισκευάστηκε το 1° Δημοτικό Σχολείο. Επίσης το Ξυλόκαστρο γνώρισε πολιτιστική και αθλητική ανάπτυξη, καθώς διοργανώθηκαν αγώνες μπιτς βόλεϊ και συναυλίες.</p>
     
    </div>
    <div class="adelfopoiisi">
        <h3 >Αδελφοποίηση</h3>
        <p>Από τον Σεπτέμβριο του 2006 η πόλη του Ξυλοκάστρου έχει αδελφοποιηθεί με τη γερμανική πόλη Φυρτ («Fürth»[6]) στην περιοχή της Βαυαρίας. Σημαντικό ρόλο στον κύκλο φιλίας των δύο πόλεων διαδραματίζει μεταξύ άλλων και η αδελφοποίηση από το 1997 του 2ου Γυμνασίου Ξυλοκάστρου με το γερμανικό γυμνάσιο «Ερρίκος Σλήμαν» της Φυρτ (Heinrich Schliemann Gymnasium Fürth).

            Έκτοτε υπάρχει μία διαρκής συνεργασία μεταξύ των δήμων των δύο πόλεων που περιλαμβάνει μεταξύ άλλων  αμοιβαία ταξίδια των δημοτικών αρχών και πολιτών, συμφωνίες για την ηλιακή ενέργεια, τη διαλογή αποβλήτων, τη διάθεση ελληνικών αγροτικών προϊόντων στην ετήσια αγροτική έκθεση της Φυρτ καθώς και πολιτιστικά προγράμματα όπως γαστρονομικά πρότζεκτ, μουσικές εκδηλώσεις και καλλιτεχνικές εκθέσεις ζωγραφικής, αγιογραφίας, φωτογραφίας κλπ.</p>
    </div>
    <div class="popularity">
        <h3>Πληθυσμός</h3>
        <p>
            Ο πληθυσμός του Ξυλοκάστρου έχει εμφανίσει σημαντική αύξηση σε όλες τις απογραφές απο το 1879 (με εξαίρεση το 2001 που κατέγραψε μείωση). Ιδιαίτερα μεγάλη ανάπτυξη υπήρξε μεταπολεμικά που μεταβλήθηκε απο επίνειο και χειμαδιό των Τρικάλων σε κωμόπολη εξαιτίας της καλλιέργειας της σταφίδας.
        </p>
        <img src="images\popularity.png" alt="O πληθυσμός">
    </div>   
</main>   
