<main>
    <div class="intro">
        <h1>Φωτογραφίες</h1>
        <p>Οι φωτογραφίες αποτυπώνουν τις πιο όμορφες στιγμές της ζωής μας, στιγμές γεμάτες χαρά, έκπληξη και θαυμασμό.</p>
        <p>Είναι ο τρόπος μας να αποτυπώνουμε την ομορφιά του κόσμου και τις εμπειρίες που μας συναρπάζουν.</p>
       
        <br><br><br>
    </div>


    <div class="slideshow-container">
      <div class="mySlides fade">
        <div class="numbertext"></div>
        <img src="images/xyl.jpg" alt="εικόνα1"style="width:100%">
        <div class="text"></div>
      </div>
    <div class="mySlides fade">
        <div class="numbertext"></div>
        <img src="images/xyl1.jpg" alt="εικόνα2" style="width:100%">
        <div class="text"></div>
      </div>
      <div class="mySlides fade">
        <div class="numbertext"></div>
        <img src="images/xyl2.jpg" alt="εικόνα3" style="width:100%">
        <div class="text"></div>
      </div>

      <div class="mySlides fade">
        <div class="numbertext"></div>
        <img src="images/xyl3.jpg" alt="εικόνα4"style="width:100%">
        <div class="text"></div>
      </div>

      <div class="mySlides fade">
        <div class="numbertext"></div>
        <img src="images/xyl4.jpg" alt="εικόνα5"style="width:100%">
        <div class="text"></div>
      </div>

      <div class="mySlides fade">
        <div class="numbertext"></div>
        <img src="images/xyl5.jpg" alt="εικόνα6" style="width:100%">
        <div class="text"></div>
      </div>
      <div class="mySlides fade">
        <div class="numbertext"></div>
        <img src="images/xyl7.jpg" alt="εικόνα7" style="width:100%">
        <div class="text"></div>
      </div>
      <div class="mySlides fade">
        <div class="numbertext"></div>
        <img src="images/xyl8.jpg" alt="εικόνα8" style="width:100%">
        <div class="text"></div>
      </div>
      <div class="mySlides fade">
        <div class="numbertext"></div>
        <img src="images/xyl9.jpg" alt="εικόνα9"style="width:100%">
        <div class="text"></div>
      </div>
      <div class="mySlides fade">
        <div class="numbertext"></div>
        <img src="images/xyl10.jpg" alt="εικόνα10"style="width:100%">
        <div class="text"></div>
      </div>
      <div class="mySlides fade">
        <div class="numbertext"></div>
        <img src="images/xyl11.jpg" alt="εικόνα11" style="width:100%">
        <div class="text"></div>
      </div>
      <div class="mySlides fade">
        <div class="numbertext"></div>
        <img src="images/xyl12.jpg" alt="εικόνα12"style="width:100%">
        <div class="text"></div>
      </div>
      <div class="mySlides fade">
        <div class="numbertext"></div>
        <img src="images/xyl13.jpg" alt="εικόνα13"style="width:100%">
        <div class="text"></div>
      </div>
      <div class="mySlides fade">
        <div class="numbertext"></div>
        <img src="images/xyl14.jpg" alt="εικόνα14" style="width:100%">
        <div class="text"></div>
      </div>
      <div class="mySlides fade">
        <div class="numbertext"></div>
        <img src="images/xyl15.jpg" alt="εικόνα15"style="width:100%">
        <div class="text"></div>
      </div>
      <a class="prev" onclick="plusSlides(-1)">❮</a>
      <a class="next" onclick="plusSlides(1)">❯</a>
    </div>
    <br>

    <div style="text-align:center">
      <span class="dot" onclick="currentSlide(1)"></span>
      <span class="dot" onclick="currentSlide(2)"></span>
      <span class="dot" onclick="currentSlide(3)"></span>
      <span class="dot" onclick="currentSlide(4)"></span>
      <span class="dot" onclick="currentSlide(5)"></span>
      <span class="dot" onclick="currentSlide(6)"></span>
      <span class="dot" onclick="currentSlide(7)"></span>
      <span class="dot" onclick="currentSlide(8)"></span>
      <span class="dot" onclick="currentSlide(9)"></span>
      <span class="dot" onclick="currentSlide(10)"></span>
      <span class="dot" onclick="currentSlide(11)"></span>
      <span class="dot" onclick="currentSlide(12)"></span>
      <span class="dot" onclick="currentSlide(13)"></span>
      <span class="dot" onclick="currentSlide(14)"></span>
      <span class="dot" onclick="currentSlide(15)"></span>
    </div>

</main> 