
  <h1>Πού θα κάτσετε για φαγητό</h1>
  <main class="pota">
  <p>
    <span class="highlight">Ελλαδικό</span> <br><br>Σας καλωσορίζουμε στο Ελλαδικό, ένα από τα πρώτα μεζεδοπωλεία στο Ξυλόκαστρο. Με εξαιρετική ποιοτική κουζίνα και μεγάλη ποικιλία από μεζέδες και κάθε λογής γευστικά φαγητά. Η εποχή που ζούμε δημιουργεί την ανάγκη να έρθουμε όλο και ποιο κοντά.Στο τραπέζι με το φαγητό οι άνθρωποι μοιράζονται την ωραιότερη απόλαυση της ζωής,επικοινωνούν τρώγοντας με ουσιαστικό τρόπο. Οι σχέσεις μας μαζί με όλα χρειάζονται κι ένα τραπέζι καλό φαγητό, που μέσα από εκεί μπορεί να βρει την ειλικρινή ταυτότητα ο ένας του άλλου.
    <br><br><span class="highlight">Ακρωτήρι</span><br><br>Το εστιατόριο “Ακρωτήρι” στην παραλία της Συκιάς, σας ταξιδεύει σε γεύσεις που εκπλήσσουν τον ουρανίσκο σας. Κρεατικά και Θαλασσινά πιάτα, φρέσκο ψάρι και πρωτότυπα σερβιρισμένοι ουζομεζέδες σε  ένα φιλόξενο στέκι που θυμίζει Ελλάδα. Η ποιότητα και τα φρέσκα ντόπια υλικά, ψάρια, θαλασσινά, κρέας, λαχανικά, μαγειρεμένα με τις πιο νόστιμες παραδοσιακές συνταγές έχουν ανάγει το “Ακρωτήρι” σ’ένα από τα καλύτερα εστιατόρια τις ευρύτερης περιοχής του Ξυλοκάστρου και σημείο αναφοράς για τους λάτρεις του καλού φαγητού.
    <br><br><span class="highlight">Μπέρδεμα</span> <br><br>Το μεζεδοπωλείο που μετρά 13 χρόνια εμπειρίας στη γεύση, είναι δίχως αμφιβολία μια από τις πιο… νόστιμες προτάσεις για καλό φαγητό στην παραλία του Ξυλόκαστρου. Εδώ θα βρεις από μοναδικές σαλάτες (όπως την ομώνυμη με το μαγαζί) και φρέσκα θαλασσινά μέχρι μαγειρευτά και γεύσεις της σχάρας, αλλά και αρκετά ακόμη πιάτα που απογειώνουν την ελληνική κουζίνα! Με πολλή αγάπη και μεράκι δημιουργήσαμε ένα χώρο φιλόξενο που προσφέρει ποιοτική διασκέδαση και εξαιρετική ελληνική κουζίνα, χαρίζοντας όμορφες στιγμές σε χιλιάδες φίλους μας.

<br><br><span class="highlight">Φοίνικες</span><br><br>Σε μικρή απόσταση από την Αθήνα, δίπλα στο πανέμορφο Ξυλόκαστρο, υπάρχει η πιο ωραία παραλία του Κορινθιακού κόλπου, η Συκιά. Η περιοχή προσφέρεται για ευχάριστους παραλιακούς περιπάτους στα μεγάλα πεζοδρόμια καθώς και στο υπέροχο δάσος του Πευκιά που ενώνει την Συκιά με το Ξυλόκαστρο. Στο μέσο της παραλίας της Συκιάς, υπάρχει η οικογενειακή ταβέρνα “ΦΟΙΝΙΚΕΣ” που προσφέρει σπιτικά φαγητά μαγειρευμένα από τους ίδιους τοτς ιδιοκτήτες. Επιπλέον θα βρείτε φρέσκο ψάρι και κρέας στα κάρβουνα.
<br><br><span class="highlight">Το Στέκι</span><br><br>Στην όμορφη παραλία της Συκιάς μόλις 1 χλμ. από το Ξυλόκαστρο,θα συναντήσετε το Στέκι του καλού φαγητού και των σπιτικών μεζέδων. Ψαρικά ή κρεατικά πάντα φρέσκα και καλομαγειρεμένα καθώς και μεγάλη ποικιλία ορεκτικών σας περιμένουν να τα απολαύσετε στην ζεστή ατμόσφαιρα που έχουμε δημιουργήσει για σας και την παρέα σας.  Καλό κρασί, μπυρίτσα ή ουζάκι, όποια κι αν είναι η προτίμησή σας είμαστε πάντα στην διάθεσή σας να σας εξυπηρετήσουμε με τον καλύτερο τρόπο για να γίνει το κατάστημά μας και δικό σας Στέκι.<br><br>
<span class="highlight">Η Πέτρα</span><br><br>Σε 5 λεπτά από το Ξυλόκαστρο στη μεγάλη βεράντα της ταβέρνας κάτω από την σκιά και την δροσιά των δέντρων και με υπέροχη θέα μπορείτε να γευθείτε παραδοσιακές γεύσεις από ψητά, σούβλας, μαγειρευτά και εκλεκτά μεζεδάκια με συνοδεία βαρελίσιο κρασί ( παραγωγής της ταβέρνας ) Αγιωργίτικο, ροζέ και ροδίτη.</p>

    <div class="row">
      <div class="column">
        <a href="https://www.elladikomezedopoleio.gr/">
          <img src="images/elladiko.jpg" alt="elladiko"style="--g: 20px; --b:5px; --c:rgb(60,110,113);" style="width:100%">
        </a>
      </div>
      <div class="column">
        <a href="https://www.xylokastro.com/xylokastro/%CE%B1%CE%BA%CF%81%CF%89%CF%84%CE%AE%CF%81%CE%B9-restaurant-cafe-%CF%80%CE%B1%CF%81%CE%B1%CE%BB%CE%AF%CE%B1-%CF%83%CF%85%CE%BA%CE%B9%CE%AC%CF%82/">
          <img src="images/akrotiri.jpg" alt="akrotiri"style="--g: 20px; --b:5px; --c:rgb(60,110,113);" style="width:100%">
        </a>
      </div>
      <div class="column"> 
        <a href="https://www.facebook.com/mperdemagrillandbbq/">
          <img src="images/berdema.jpg" alt="berderma"style="--g: 20px; --b:5px; --c:rgb(60,110,113);" style="width:100%">
        </a>
      </div>
      
    </div>
  
  <div class="row">
    <div class="column">
      <a href="https://www.tripadvisor.com.gr/Restaurant_Review-g13431831-d14938274-Reviews-Finikes-Sykia_Corinthia_Region_Peloponnese.html">
        <img src="images/foinikes.jpg" alt="foinikes"style="--g: 20px; --b:5px; --c:rgb(60,110,113);" style="width:100%">
      </a>
    </div>
    <div class="column">
      <a href="https://www.tripadvisor.com.gr/ShowUserReviews-g13431831-d13550143-r813760953-To_Steki-Sykia_Corinthia_Region_Peloponnese.html">
        <img src="images/steki.jpg" alt="steki"style="--g: 20px; --b:5px; --c:rgb(60,110,113);" style="width:100%">
      </a>
    </div>
    <div class="column"> 
      <a href="https://citymaps.gr/estiatorio/ksulokastro/e-petra-paradosiake-taberna/">
        <img src="images/petra.jpg" alt="petra"style="--g: 20px; --b:5px; --c:rgb(60,110,113);" style="width:100%">
      </a>
    </div>
    
  </div>
</main>

