
  <main class="sightseeings">
  <h1>Και η περιήγηση τώρα ξεκινάει...</h1>
  <h3>Δάσος πευκιά</h3>
  <div class="mustvisit">  
  <p>
    Ένας πανέμορφος «πνεύμονας» μέσα στην πόλη του Ξυλοκάστρου είναι ένας από τους λόγους για τους οποίους ολοένα και περισσότεροι επισκέπτες καταφθάνουν στην περιοχή όλες τις εποχές του έτους. Ένας περίπατος, μια βόλτα στην παραλία που βρίσκεται δίπλα στα πεύκα, το κολύμπι στην τεράστια παραλία και οι αθλητικές δραστηριότητες μες στο νερό όταν ο καιρός το επιτρέπει, είναι μόνο μερικοί από τους λόγους για τους οποίους το ευρύ κοινό αγαπά τον «Πευκιά».

Έχει μήκος 1.760 μέτρα και το πλάτος του κυμαίνεται από 80 έως 220 μέτρα, καθιστώντας το ως το αγαπημένο σημείο συνάντησης των κατοίκων της περιοχής αλλά και των επισκεπτών, οι οποίοι αναζητούν στιγμές γαλήνης κοντά στον οικισμό.
 
Στον «Πευκιά» φιλοξενούνται τρία δημοτικά beach bars. Ένα από αυτά λειτουργεί όλο τον χρόνο, ενώ τα δύο από τις αρχές του καλοκαιριού μέχρι και τον Σεπτέμβριο. Παράλληλα, στον χώρο όπου κείται η βίλα Σικελιανού, λειτουργεί ξενοδοχείο, το οποίο επίσης διαθέτει το δικό του beach bar που λειτουργεί τους καλοκαιρινούς μήνες του χρόνου.

    Ανεξάρτητα από την εποχή και την ώρα που θα επισκεφθείς στον Πευκιά, θα δεις άτομα κάθε ηλικίας να περπατούν, να κάνουν βόλτα τα κατοικίδιά τους, να τρέχουν, να παίζουν τένις ή βόλεϋ στα μικρά γηπεδάκια δίπλα στην παραλία, να κολυμπούν, να ξαπλώνουν στις αιώρες που τοποθετούνται στα δέντρα τα καλοκαίρια, να κάνουν picnic στα παγκάκια και ό,τι άλλο μπορείς να φανταστείς.
    </p>
    <img src="images/paukias - Copy.jpg" alt="Πευκιάς" >
  </div>
<h3>Βίλα Σικελιανού</h3>
<div class="mustvisit" blue >
  
  <p>Χτίστηκε το 1916 και αποτελεί ένα ζωντανό μνημείο για το νεοελληνικό πολιτισμό του 20ου αιώνα. Ο λόγος για τη βίλα των Άγγελου Σικελιανού – Εύας Πάλμερ, ένα αρχιτεκτονικό κόσμημα, που συνδυάζει αρχαιοελληνικά στοιχεία (κίονες), βυζαντινές πινελιές (θολωτά παράθυρα και ανοίγματα) αλλά και επτανησιακές ενσωματώσεις (ιδιαίτερα μπαλκόνια, ενετικής καταβολής). 

    Θα τη βρεις στη Συκιά, μέσα στο δάσος του Πευκιά. Σήμερα η βίλα των Σικελιανού – Πάλμερ φιλοξενεί τον ιδιοκτήτη της, κ. Λεωνίδα Τυπάλδο, επιχειρηματία ξενοδοχείου που βρίσκεται στον ίδιο χώρο</p>
    <img src="images\sikelianos-xylokastro.jpg" alt="sikelianos-xylokastro" >  

</div>
<h3>Χιονοδρομικό Κέντρο Ζήρειας</h3>
<div class="mustvisit">

<p>Αν το πρώτο πράγμα που σκέφτεσαι όταν πέφτει χιόνι, είναι οι εξορμήσεις στα βουνά, τότε μια βόλτα στο Χιονοδρομικό Κέντρο Ζήρειας είναι ό,τι ακριβώς σού χρειάζεται! Ευρύχωρο, προσεγμένο και κατάλληλο για μια σειρά από δραστηριότητες, το εν λόγω Αθλητικό Κέντρο μπορεί να σου χαρίσει την απόδραση που επιθυμείς. </p>
<img src="images/Chionodromiko Kentro Zereias.jpg" alt="Χιονοδρομικό κεντρο Ζηρείας">

</div>

<h3>Ρέμα των Μύλων</h3>
<div class="mustvisit" blue>
<p>Αν κάποια στιγμή σε ρωτήσουν για τον νεραϊδόκοσμο, μη βιαστείς να τον απαρνηθείς. Πρώτα επισκέψου το Ρέμα των Μύλων και ύστερα, βγάλε το πόρισμά σου. Γιατί η φυσική ρεματιά της Ζάχολης (ή Ευρωστίνας) θα σε κάνει να ξεχάσεις για λίγο τα εγκόσμια και θα σε βυθίσει στον κόσμο του παραμυθιού. 

  Συνδυάζοντας όλα τα χρώματα της φύσης, η πανέμορφη ατραξιόν θέτει ως πρωταγωνιστές το πράσινο των δέντρων και το γαλάζιο των νερών που αναβλύζουν από το βουνό και σε καλεί να κάνεις την πιο μαγική σου περιπλάνηση σε μια διαδρομή που μυρίζει φύση. 
  
  Λιμνούλες, καταρράκτες, ξύλινα γεφυράκια και δρύινα παγκάκια είναι μόνο μερικά από τα στοιχεία που συναντάς καθώς περιπλανιέσαι στο Ρέμα των Μύλων. Το σκηνικό συμπληρώνουν οι πέστροφες που θα δεις να κολυμπούν σε απόσταση αναπνοής από τα πόδια σου αλλά και οι πάπιες που περιμένουν να αρπάξουν κάθε μπουκιά ψωμί που θα τους πετάξεις, για να κρυφτούν και πάλι στα ξύλινα σπιτάκια τους. </p>
<img src="images\Rema ton Mylon.jpg" alt="Ρέμα του Μυλου" >

</div>
<h3>Λίμνη Δασίου</h3>
<div class="mustvisit">

<p>Στη Ζήρεια ή στην Κυλλήνη, όπως θα ακούσεις αλλιώς να την προσφωνούν, βρίσκεται μια πανέμορφη ορεινή λίμνη, με νερά που παραμένουν «ζωντανά» για 8 – 9 μήνες τον χρόνο, από το φθινόπωρο μέχρι και την άνοιξη. Πρόκειται φυσικά για τη λίμνη Δασίου, η οποία έχει έκταση 60 περίπου στρέμματα και βρίσκεται σε υψόμετρο 1.480 μέτρων.

  Η ονοματοδοσία της προέκυψε από την αρχοντοοικογένεια Δασίου, τους «Δασαίους», όπως τους αποκαλούσαν οι ντόπιοι, που διέμεναν στα Τρίκαλα Κορινθίας. Σύμφωνα με την ιστορία, οι τοπικοί άρχοντες συνδέονταν συγγενικά με την οικογένεια των Νοταραίων και στον αγώνα της επανάστασης, προσχώρησαν στην Φιλική Εταιρεία.
  
  Σήμερα, η λίμνη αποτελεί έναν εκλυστικό προορισμό για επισκέπτες, καθόλη τη διάρκεια του έτους. Φυσιολάτρες και… περιπετειολάγνοι καταφθάνουν κάθε χρόνο, κυρίως τα Σαββατοκύριακα και απολαμβάνουν το πανέμορφο φυσικό τοπίο και τις αθλητικές δραστηριότητες που αυτό προσφέρει.</p>
<img src="images\Limne Dasiou.jpg" alt="Λιμνη Δασιου">
</div>
<h3>Λαογραφικό Μουσείο Καμαρίου </h3>
<div class="mustvisit" blue>

<p>Όλοι οι λαοί, στο διάβα της ιστορικής τους πορείας, ανέπτυξαν τον δικό τους πολιτισμό, το δικό τους λαϊκό πολιτισμό (που περιλαμβάνει και τη λαϊκή παράδοση). Και είναι αυτός, που δίνει το «στίγμα» του κάθε λαού, είναι αυτός που κάνει την «ειδοποιό» διαφορά, διαχωρίζοντας τον έναν από τον άλλο. Ως εκ τούτου, η διατήρηση του λαϊκού πολιτισμού θεωρείται εξέχουσας σημασίας για την ιστορική συνέχεια των ανθρώπων που κατοικούν έναν τόπο.

  Στην προσπάθεια, λοιπόν, να διασωθεί ό,τι είναι δυνατό από τον θησαυρό του λαϊκού μας πολιτισμού υλοποιείται το 2011 η ίδρυση του Λαογραφικού Μουσείου Ξυλοκάστρου. Άνθρωποι με ευαισθησία, που πονούν τον τόπο τους, προσπάθησαν να διασώσουν κάποια στοιχεία από τον προγονικό πλούτο, τα οποία, δυστυχώς, σβήνουν και χάνονται χωρίς ελπίδα επιστροφής.</p>
<img src="images\laographiko_mouseio.jpg" alt="Λαογραφικό Μουσείο">
</div>
<h3>Παναγία Φανερωμένη</h3>
<div class="mustvisit">
  <p>Στον συνοικισμό του Ξυλοκάστρου, στην προσφυγική περιοχή ένα «κάστρο», όπως το αποκαλούν οι επισκέπτες που την αντικρίζουν για πρώτη φορά, βρίσκεται η εκκλησία της Παναγίας Φανερωμένης. Πρόκειται για ένα μοναδικό κτίσμα που έχει χτιστεί στα πρότυπα των Παλαιοχριστιανικών Βασιλικών, όπως δηλαδή ήταν και οι πρώτες εκκλησίες επί Μ. Κωνσταντίνου. 

    Ιδιαίτερο χαρακτηριστικό του αποτελεί ο βυζαντινός πύργος που ξεπερνά κατά πολύ σε ύψος το υπόλοιπο οικοδόμημα, καθώς και οι αρχαιοελληνικοί κίονες που θυμίζουν αρχαιοελληνικό ναό. </p>
    <img src="images\panagia-faneromeni-xylokastro.jpg" alt="παναγιά φανερωμένη">
  </div>
</main>
